<ion-item-sliding class="padding">
    <ion-item>
      <ion-label text-left>
          {{ calcDate() }}
      </ion-label>
    <ion-label 
    id="todo-{{ItemTodo.todoid}}" 
    (click)="!isAdding ? doneTodo(): null" 
    (press)="!isAdding && !ItemTodo.done ? editTodo(): null"
      [ngClass]="{'label-fadeout' : longPress,
      'label-fadein': !longPress,
      'gray' : isAdding,
      'done' : ItemTodo.done}">
     {{ ItemTodo.todoText }}
    </ion-label>
    <ion-label *ngIf="ItemTodo.priority!='1'" text-right class="priority{{ItemTodo.priority}} text-big">
        ↑
    </ion-label>
    <ion-label *ngIf="ItemTodo.priority=='1'"  text-right class="priority{{ItemTodo.priority}} text-big">
        ↓
    </ion-label>
  </ion-item>

  <ion-item-options side="right">
    <button ion-button icon-only 
      color="danger" 
      (click)="deleteTodo()"
      class="btn-delete"
      [disabled]="isAdding"
      >
      <ion-icon class="icon-custom-pos" name="trash"></ion-icon>
    </button>
  </ion-item-options>
</ion-item-sliding>
