<ion-header>
  <ion-navbar>
    <ion-title text-center>
      To-do
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
      <ion-fab right top edge>
          <button [disabled]="isAdding" 
          [ngClass]="{'btn-fadeout' : isAdding, 'btn-fadein' : !isAdding}" 
          (click)="onAddForm()"
            ion-fab mini>
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-fab>
  <form *ngIf="isAdding" [formGroup]="formTodo" 
    style="margin-top: 30px;"
    (ngSubmit)="onCreateTodo()">
    <ion-item>
      <ion-input (input)="onTodoChange()" [formControl]="formTodo.controls['todo']" type="text">
      </ion-input>
      <button ion-button item-right outline
      color="ok" 
      [ngClass]="{'btn-fadeout' : !isAdding,
                'btn-fadein': isAdding}"
      type="submit"
      [disabled]="!formTodo.valid"
      style="width: 28px;"  >
      <ion-icon name="add" ></ion-icon>
    </button>
      <button ion-button item-right 
      outline
      (click)="onCloseForm()"
      [ngClass]="{'btn-fadeout' : !isAdding,
                'btn-fadein': isAdding}">
      <ion-icon name="close" ></ion-icon>
    </button>
    </ion-item>

  </form> 
  <ion-list style="padding-top: 20px">
    <ion-item class="header">
      <ion-label (click)="toggleSortByDatePriority('D')">
        Days <button  
            style="background-color:rgba(0, 0, 0, 0)">{{ sortDateSymbol }}</button>
      </ion-label>
      <ion-label>
        Text
      </ion-label>
      <ion-label (click)="toggleSortByDatePriority('P')">
        Priority <button  
        style="background-color:rgba(0, 0, 0, 0)">{{ sortPSymbol }}</button>
      </ion-label>
    </ion-item>
      <todo-list-item *ngFor="let todo of todolist;let i = index"
        [ItemTodo]="todo"
        [isAdding]="isAdding"
        (deleteItemTodo)="updateList($event)"
      ></todo-list-item>
</ion-list>



  
</ion-content>