<ion-header>
  <ion-navbar>
    <ion-title text-center>
      Simple Todo
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1 text-center> . . . </h1>
  <ion-item *ngFor="let todo of todolist;let i = index">
    <ion-label 
    id="todo-{{i}}" 
    (click)="!isAdding ? doneTodo(i): null" 
    (press)="!isAdding ? editTodo(i): null"
      [ngClass]="{'label-fadeout' : longPress[i],
      'label-fadein': !longPress[i],
      'gray' : isAdding,
      'done' : todo.done}">
      {{ todo.todoText }}
    </ion-label>
  </ion-item>

  <form *ngIf="isAdding" [formGroup]="formTodo">
    <ion-item>
      <ion-input (input)="onTodoChange()" [formControl]="formTodo.controls['todo']" type="text"
        (ionBlur)="onLostFocus()">
      </ion-input>
      <button item-right 
        color="secondary" 
        [ngClass]="{'btn-fadeout' : !isAdding,
                  'btn-fadein': isAdding}"
        (click)="onCreateTodo()" ion-fab mini>
        <ion-icon name="add"></ion-icon>
      </button>

    </ion-item>
  </form>
  <ion-fab right top>
    <button [disabled]="isAdding" 
    [ngClass]="{'btn-fadeout' : isAdding, 'btn-fadein' : !isAdding}" 
    (click)="onAddForm()"
      ion-fab mini>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  
</ion-content>